<div class="carousel">
    <div class="carousel__title-wrap">
        <h1>What we are thinking</h1>
    </div>
    <div class="carousel__content-main-wrap">
        <div class="carousel__content-wrap">
            <div class="carousel__left-wrap">
                <p>Research</p>
                <img src="/content/dam/vgpoc/mask-group.png" alt="">
                <div class="carousel__content-container">
                    <h1 class="carousel__content-title">How America Saves 2021</h1>
                    <p class="carousel__content-date">June 3, 2021 |</p>
                    <p class="carousel__content-short-desc">Research</p>
                    <div class="carousel__content-long-desc">
                    <p>Our Analysis delivers unbiased participant data derived from 1700, Our Analysis delivers unbiased participant data derived from 1700, Our Analysis delivers unbiased participant data derived from 1700</p>
                    </div>
                    <p class="carousel__action"><a class="carousel__action-link" href="#">View Research</a></p>
                </div>
            </div>
            <div class="carousel__right-wrap">
                <p>Our View</p>
                <ul>
                    <li>
                        <div class="carousel__thumbnail-container">
                            <div class="carousel__thumbnail-img-wrap">
                                <img src="/content/dam/vgpoc/mask-group.png" alt="">
                            </div>
                            <div class="carousel__thumbnail-content-wrap">
                                <a href="" title=""><p class="carousel__thumbnail-content-title">Critical Labour market  Critical Labour market</p></a>
                                <p class="carousel__thumbnail-content-date">June 3, 2021 |</p>
                                <p class="carousel__thumbnail-content-date">Research</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="carousel__thumbnail-container">
                            <div class="carousel__thumbnail-img-wrap">
                                <img src="/content/dam/vgpoc/mask-group.png" alt="">
                            </div>
                            <div class="carousel__thumbnail-content-wrap">
                                <a href="" title=""><p class="carousel__thumbnail-content-title">Critical Labour market  Critical Labour market</p></a>
                                <p class="carousel__thumbnail-content-date">June 3, 2021 |</p>
                                <p class="carousel__thumbnail-content-date">Research</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="carousel__thumbnail-container">
                            <div class="carousel__thumbnail-img-wrap">
                                <img src="/content/dam/vgpoc/mask-group.png" alt="">
                            </div>
                            <div class="carousel__thumbnail-content-wrap">
                                <a href="" title=""><p class="carousel__thumbnail-content-title">Critical Labour market  Critical Labour market</p></a>
                                <p class="carousel__thumbnail-content-date">June 3, 2021 |</p>
                                <p class="carousel__thumbnail-content-date">Research</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>  
        
    </div>
</div>