<div class="expert-card">
    <div class="expert-card__title-image-wrap">
        <div class="expert-card__title-wrap">
            <h1>Hear From our Expert</h1>
        </div>
        <div class="expert-card__img-wrap">
            <img src="/content/dam/vgpoc/diy-31620.jpg" alt="">
        </div>
    </div>
    <div class="expert-card__image-des-wrap">
        <div class="expert-card__img-wrap expert-card__img-wrap-left">
            <img src="/content/dam/vgpoc/mask-group.png" alt="">
        </div>
        <div class="expert-card__content-wrap expert-card__content-wrap-btn">
            <div class="expert-card__text-wrap">
                <h2>Joe Davis</h2>
                <h4>Vanguard Market Review</h4>
                <p>Why bond still matter with interset rate so low.</p>
                <p class="expert-card__title-duration">Video | 45 minutes</p>
            </div>
            <p class="expert-card__action expert-card__action-wrap"><a class="expert-card__action-link-btn" href="#">Meet our exports</a></p>
        </div>
    </div>
    <div class="expert-card__desc-button-wrap">
        <div class="expert-card__content-wrap">
            <div class="expert-card__content-title">
                <h2>Joe Davis</h2>
                <h4>Vanguard Market Review</h4>
                <p>Why bond still matter with interset rate so low.</p>
                <p class="expert-card__title-duration">Video | 45 minutes</p>
            </div>
        </div>
        <div class="expert-card__button-wrap">
            <p class="expert-card__action"><a class="expert-card__action-link expert-card__action-link-right" href="#">Meet our exports</a></p>
        </div>
    </div>
</div>