  .side-by-side {
    display: flex;
    flex-wrap: wrap;

    &--right  &{
      flex-direction: row-reverse;
    }

    &__desc-wrap {
      width: 43%;
      display: flex;
      background: url('/content/dam/vgpoc/Institutional_RIBannerBackground.png') no-repeat;    
      background-size: cover;
      background-position: bottom; 
    }

    &__img-wrap {
      width: 57%;
      display: flex;
    }

    &__img-wrap img {
      min-width: 100%;
    }

    &__title-wrap {
      width: 60%;
      margin: auto;
    }

    &__title {
      @include h6;
      color: map-get($secondary-color, dark);
      margin-top: 0;
    }

    &__action-link {
      @include subtitle3;
      font-weight: bold;
      color: map-get($secondary-color, dark);
      text-decoration: none;
    }
    
    @media screen and (max-width: 768px) and (min-width: 375px) {
        &__desc-wrap {
          width: 50%;
        }
    
        &__img-wrap {
          width: 50%;
        }
  
        &__title-wrap {
          width: 85%;
        }
  
        &__title {
          @include subtitle1;
        }
  
        &__action-link {
          @include subtitle4;
        }
    }
  
    @media screen and (max-width: 375px) {
      .side-by-side {
        flex-direction: unset;
  
        &__desc-wrap {
          width: 100%;
        }
  
        &__img-wrap {
          width: 100%;
        }
  
        &__title-wrap {
          width: 90%;
          padding: 45px 0;
        }
  
        &__title {
          @include subtitle3;
        }
      }
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      &__img-wrap img {
        width: 100%;
      }

      &__title-wrap {
        align-self: center;
      }
    }
  }