/* Button custom */

@mixin cmp-button {
  @include subtitle3;
  font-weight: map-get($button, font-weight);
  letter-spacing: map-get($button, letter-spacing);
  text-align: map-get($button, text-align);
  min-width: map-get($button, min-width);
  padding: map-get($button, padding);  
}

@mixin cmp-button--primary {
  @include cmp-button;
  background: map-get($primary-color, dark);
  color: map-get($secondary-color, dark);
  border: 2px solid map-get($primary-color, dark);
  border-radius: 17px;
}

@mixin cmp-button--secondary {
  @include cmp-button;
  background: map-get($secondary-color, dark);
  color: map-get($primary-color, dark);
  border-radius: 17px;
  background-color: map-get($secondary-color, dark);
  border: 2px solid map-get($primary-color, dark);
  text-decoration: none;
}