@mixin h1 {
  font-family: Mark Pro Heavy;
  font-size: 92px;
  font-weight: 900;
  line-height: 96px;
}

@mixin h2 {
  font-family: Mark Pro Heavy;
  font-size: 68px;
  font-weight: 900;
  line-height: 72px;
}

@mixin h3 {
  font-family: Mark Pro Heavy;
  font-size: 57px;
  font-weight: 900;
  line-height: 64px;
}

@mixin h4 {
  font-family: Mark Pro Heavy;
  font-size: 46px;
  font-weight: 900;
  line-height: 48px;
}

@mixin h5 {
  font-family: Mark Pro Heavy;
  font-size: 34px;
  font-weight: 900;
  line-height: 40px;
}

@mixin h6 {
  font-family: Mark Pro Heavy;
  font-size: 28px;
  font-weight: 900;
  line-height: 32px;
}

@mixin subtitle1 {
  font-family: Mark Pro;
  font-size: 23px;
  line-height: 32px;
}

@mixin subtitle2 {
  font-family: Mark Pro;
  font-size: 17px;
  line-height: 24px;
}

@mixin subtitle3 {
  font-family: Mark Pro;
  font-size: 14px;
  line-height: 20px;
}

@mixin subtitle4 {
  color: rgb(4, 5, 5);
  font-size: 11px;
  line-height: 16px;
}

@font-face {
  font-family: Mark Pro;
  font-style: normal;
  font-weight: 400;
  src: url("../resources/fonts/MARKPRO.otf") format("opentype"),url("../resources/fonts/MarkPro.woff2") format("woff2"),url("../resources/fonts/MarkPro.woff") format("woff"),url("../resources/fonts/MarkPro.ttf") format("truetype"),url("../resources/fonts/MarkPro.eot?#iefix") format("embedded-opentype")
}
@font-face {
  font-family: Mark Pro Black;
  font-style: normal;
  font-weight: 400;
  src: url("../resources/fonts/MARKPROBLACK.otf") format("opentype")
}
@font-face {
  font-family: Mark Pro Bold;
  font-style: normal;
  font-weight: 700;
  src: url("../resources/fonts/MARKPROBOLD.otf") format("opentype"),url("../resources/fonts/Mark Pro Bold.woff2") format("woff2"),url("../resources/fonts/Mark Pro Bold.woff") format("woff"),url("../resources/fonts/Mark Pro Bold.ttf") format("truetype"),url("../resources/fonts/Mark Pro Bold.eot?#iefix") format("embedded-opentype")
}
@font-face {
  font-family: Mark Pro Heavy;
  font-style: normal;
  font-weight: 700;
  src: url("../resources/fonts/MARKPROHEAVY.otf") format("opentype"),url("../resources/fonts/Mark Pro Heavy.woff2") format("woff2"),url("../resources/fonts/Mark Pro Heavy.woff") format("woff"),url("../resources/fonts/Mark Pro Heavy.ttf") format("truetype"),url("../resources/fonts/Mark Pro Heavy.eot?#iefix") format("embedded-opentype")
}
@font-face {
  font-family: Mark Pro Book;
  font-style: normal;
  font-weight: 700;
  src: url("../resources/fonts/MARKPROBOOK.otf") format("opentype")
}
@font-face {
  font-family: Mark Pro Extralight;
  font-style: normal;
  font-weight: 400;
  src: url("../resources/fonts/MARKPROEXTRALIGHT.otf") format("opentype")
}
@font-face {
  font-family: Mark Pro Light;
  font-style: normal;
  font-weight: 400;
  src: url("../resources/fonts/MARKPROLIGHT.otf") format("opentype")
}
@font-face {
  font-family: Mark Pro Medium;
  font-style: normal;
  font-weight: 400;
  src: url("../resources/fonts/MARKPROMEDIUM.otf") format("opentype")
}