<div class="equal-teaser">
    <div class="equal-teaser__container-wrap">
        <div class="equal-teaser__container">
            <h1 class="equal-teaser__title">TDFs built to last</h1>
            <p class="equal-teaser__description">Our TDFs are based on ideas. Our TDFs are based on ideas. Our TDFs are based on ideas.</p>
            <p class="equal-teaser__action"><a class="equal-teaser__action-link" href="#">Explore TDFs</a></p>
        </div>
    </div>
    <div class="equal-teaser__container-wrap">
        <div class="equal-teaser__container">
            <h1 class="equal-teaser__title">TDFs built to last</h1>
            <p class="equal-teaser__description">Our TDFs are based on ideas. Our TDFs are based on ideas. Our TDFs are based on ideas.</p>
            <p class="equal-teaser__action"><a class="equal-teaser__action-link" href="#">Explore Advice Offerings</a></p>
        </div>
    </div>
</div>